# API Configuration
API_PORT=8080

# For running using local go (make api / make worker / make scheduler / make poller)
DATABASE_URL=postgres://user:password@localhost:5432/candidates?sslmode=disable
PUBSUB_EMULATOR_HOST=localhost:8085
# these values are what's used when running as docker since we inject it in docker-compose
# DATABASE_URL=postgres://user:password@postgres:5432/candidates?sslmode=disable
# PUBSUB_EMULATOR_HOST=pubsub-emulator:8085

# GCP Configuration
GCP_PROJECT=test-project
PUBSUB_TOPIC=candidate-applications

# Worker pool
WORKER_COUNT=10
WORKER_TIMEOUT_SECONDS=30

# outbox - for testing purposes, we keep this unreasonably low and frequent.
# OUTBOX_CLEANUP_SCHEDULE="0 2 * * *"
# OUTBOX_RETENTION_DAYS=30
OUTBOX_CLEANUP_SCHEDULE=@every 15s
OUTBOX_RETENTION_DAYS=0
OUTBOX_BATCH_SIZE=100

# Loggins
LOG_LEVEL=error

# poller
POLL_INTERVAL_MS=1000